colors = accent #02cc99,
          accent-mild  #02b186,
          accent-dark  #027F5F,
          primary  #222324,
          primary-light  #343c41

for color in colors
  .{color[0]}
    background-color color[1]

accent = #02cc99
accent-mild = #02b186
accent-dark = #027F5F
primary = #222324
primary-light = #343c41

