@font-face
  font-family ProximaNova
  src url(../fonts/proxima-nova/proximanova-regular-webfont.woff) format('woff'),
      url(../fonts/proxima-nova/proximanova-regular-webfont.woff) format('truetype')

@font-face
  font-family ProximaNova
  src url(../fonts/proxima-nova/proximanova-regularit-webfont.woff) format('woff'),
      url(../fonts/proxima-nova/proximanova-regularit-webfont.woff) format('truetype')
  font-style italic, oblique

@font-face
  font-family ProximaNova
  src url(../fonts/proxima-nova/proximanova-light-webfont.woff) format('woff'),
      url(../fonts/proxima-nova/proximanova-light-webfont.woff) format('truetype')
  font-weight 100

@font-face
  font-family ProximaNova
  src url(../fonts/proxima-nova/proximanova-lightit-webfont.woff) format('woff'),
      url(../fonts/proxima-nova/proximanova-lightit-webfont.woff) format('truetype')
  font-weight 100
  font-style italic, oblique

@font-face
  font-family ProximaNova
  src url(../fonts/proxima-nova/proximanova-bold-webfont.woff) format('woff'),
      url(../fonts/proxima-nova/proximanova-bold-webfont.woff) format('truetype')
  font-weight bold

@font-face
  font-family ProximaNova
  src url(../fonts/proxima-nova/proximanova-boldit-webfont.woff) format('woff'),
      url(../fonts/proxima-nova/proximanova-boldit-webfont.woff) format('truetype')
  font-weight bold
  font-style italic, oblique


*
  font-family ProximaNova

