header
  height 425px
  max-height 425px
  background url(../images/van2x.jpg) no-repeat top center
  background-size cover
  padding-top 120px

  & *
    color azure

  & #new-post
    background-color accent-mild
    opacity 0.6
    height 155px
    padding 20px
    padding-left 35px
    color white


    & .input
      margin-bottom 25px
      & input
        background-color accent-mild
        border none
        padding-top 20px
        padding-bottom 20px
        padding-right 10px
        line-height 28px
        width 100%
        font-size 1.9em
        font-family ProximaNova
        font-weight 100

        &:focus
          outline-width 0

        &::-webkit-input-placeholder
          color azure

  & .links
    color white
    margin-top 80px
    height 70px
    padding-top 30px

    & div
      text-align center
      margin-right 8px

      &:hover
        cursor pointer

      &.active
        border-bottom accent solid 4px

.order
  margin-left 168px
  text-align right !important
  margin-right 0px !important
  & i:nth-child(2)
    margin-left 10px

