*
  box-sizing border-box

  &:before
  &:after
    box-sizing border-box

html
  font-size 12px

body
  font-size $font-size-base
  line-height $line-height-base
  color $gray-dark
  background-color white
  position relative
img
  vertical-align middle

img.round
  border-radius $border-radius-large

img.circ
  border-radius 50%


sizes = 1 $font-size-h1,
        2 $font-size-h2,
        3 $font-size-h3,
        4 $font-size-h4,
        5 $font-size-h5,
        6 $font-size-h6


for pair in sizes
  h{pair[0]}
    font-size pair[1]
