#settings
  padding-top 25px
  height 100%

  & section
    border-bottom solid lightgray 2px
    padding-bottom 30px
    color primary-light

    & .row.sep
      height 50px
      &.title
        margin-top 10px
        margin-bottom 20px

    & .settings-form
      // border-bottom solid gray 2px
      padding-bottom 30px
      width 100%

      & input
        outline none
        border none
        font-size 1.1em
        line-height 20px
        width 80%
        margin 0px
  & *
    font-weight 100

.input-group
  border silver 1px solid
  border-radius 3px
  height 40px
  padding-left 5px
  margin-bottom 20px
  width 80%
  padding-top 5px

  & .settings
    width 80%

  & span i
    color lightgray
.label
  padding-top 25px

.switch
  margin-bottom 15px
.settings-img
  display block
.main
  height 80px
.avatar
  margin-bottom 20px
section.submit
  margin-top 50px
button.change
  height 25px
  width 90px
  padding 0pc

inputs = email phone thing

input[id^=notify]
  max-height 0
  max-width 0
  opacity 0

  & + label
    display block
    position relative
    box-shadow inset 0 0 0px 1px #d5d5d5
    text-indent -5000px
    height 30px
    width 60px
    border-radius 15px

    &:hover
      cursor pointer

    &:before
      content ""
      position absolute
      display block
      height 30px
      width 30px
      top 0
      left 0
      border-radius 15px
      background rgba(19,191,17,0)
      transition .25s ease-in-out

    &:after
      content ""
      position absolute
      display block
      height 30px
      width 30px
      top 0
      left 0px
      border-radius 15px
      background white
      box-shadow inset 0 0 0 1px rgba(0,0,0,.2), 0 2px 4px rgba(0,0,0,.2)
      transition .25s ease-in-out

  &:checked + label:before
    width 60px
    background accent

  &:checked + label:after
    left 30px
    box-shadow inset 0 0 0 1px accent, 0 2px 4px rgba(0,0,0,.2)


input[id^=pri]
  max-height 0
  max-width 0
  opacity 0

  & + label
    display block
    position relative
    text-indent -5000px
    height 22px
    width 22px
    border-radius 100%
    border solid #d5d5d5 2px

    &:after
      content ""
      position absolute
      opacity 0
      display block
      height 12px
      width 12px
      top 3px
      left 3px
      border-radius 100%
      background white
      transition .25s ease-in-out

    &:hover:after
      cursor pointer
      background accent-dark
      opacity 0.3

  &:checked + label:after
    transform scale(1.3)
    opacity 1
    transform-origin center
    background accent





